* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: sans-serif;
            background-color:lightgrey;
            margin: 2rem;
            display: flex;
            text-align: center;

        }
 .container {
            padding: 40px;
            margin: 0 auto;
            text-align: center;
        }


        .container h2{
            color:rgb(21, 21, 143);
            font-weight: bold;
        }
        .header {
            display: static;
        }

        .header ul li {
            display: inline;
            margin-right: 20px;

        }

        .header ul li a {
            text-decoration: none;
            color: black;

            font-weight: bold;
            font-size: large;
            
        }
        .header ul li a:hover{
            color:tomato
        }


         .character {
            overflow: hidden;
            box-shadow: 0px 2px 20px #a7b7be;
            border-radius: 0.2rem;
            display: inline-block;
            justify-content: space-between;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-right: 50px;
            width: 300px;
            background-color: white;
            font-family: inherit;
            height: 450px;
            position: relative;
        }
        

        .character>img {
             
            height: 15rem;
            width: 100%;
            object-fit: cover;
        }

        .character>h2 {
            color: black;
            padding: 1rem;
            padding-bottom: 0.5rem;
        }

        .character>p {
            padding: 0 1rem;
        }

        .character>button {
            padding: .5rem;
            font-weight: bold;
            font-size: 1rem;
            margin: .5rem;
            border: 2px solid #d50000;
            background: transparent;
            color: #d50000;
            border-radius: 0.2rem;
             cursor: pointer;
        }
        .character>button a{
            text-decoration: none;
            color: #d50000;
        }

        .character:hover a{
            transform: scale(1.02);
        }

        .character>button:hover {
            background: #d50000;
             color: white;
        }
        .character>button a:hover{
            color: white;
         }